*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo{
    width: 200px;
    height: 150px;
    /* display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center; */
}
.logo h1{
    text-align: center;
}
.logo span{
    color: gold;
    font-weight: lighter;
    text-align: center;
}


/* div>ul{
    display: flex;
    justify-content: center;
}
div>ul>li{
    padding: 5px 15px;
}
section{
    padding: 15px;
    border: 1px solid white;
    border-radius: 10px;
    height: 450px;
    box-shadow: 1px 8px 15px lightgrey;
    margin-top: 18px;
} */