*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.2s all;
}
.logo{
    width: 200px;
    height: 150px;
}
.logo h1{
    text-align: center;
}
.logo span{
    color: gold;
    font-weight: lighter;
    text-align: center;
}
nav ul li {
    color: white;
    border: 1px solid transparent;
}
nav>ul>li:hover{
    text-shadow: 1px 1px 5px yellowgreen;
    color: black;
}